:root {
    --color-primary: #1F4287;
    --color-secondary: #278EA5;
    --color-dark: #071E3D;
    --color-light: #21E6C1;
    --color-white: #eeeeee;
    --color-black: #000000;
}


// $primary: #1F4287;
// $dark: #3f333f;

// $theme-colors: (
//     "primary": $primary,
//     "dark": $dark,
//     ) !default;